html,body{
	margin:0px;
	padding:0px;
	width:320px;
	background:#1e3865;
}

 .header{
	background:url("../img/header_high.png") no-repeat;
	width:320px;
	height:319px;
}

.header_bar{
	height:36px;
	background:url("../img/header_bar_bg.png") repeat-x;
	width:100%;
}

.header_bar span.backBtn{
	background:url("../img/header_bar_back.png") no-repeat;
	height:36px;
	width:79px;
	display:inline-block;
	float:right;
}

.header_bar span.title{
	font-family:helvetica;	
	font-size:16px;
	color:#fff;
	float:left;
	margin-top:7px;
	margin-left:4px;
	font-weight:bold;
}

 .header_sub{
	background:url("../img/header_sub.png") no-repeat;
	width:320px;
	height:132px;
	margin-bottom:10px;
}

.nav{
	padding:0px;
	margin:0px;
	margin-top:10px;
	padding-left:5px;
	width:100%;
	
}

.nav li{
	padding:0px;
	padding-top:17px;
	padding-left:14px;
	margin:0px;
	margin-top:-8px;
	background:url("../img/nav_bg.png") no-repeat top center;
	background-position:-4px -4px;
	height:26px;
	width:295px;
	font-family:helvetica;
	font-size:14px;
	color:#fff;
}

.nav li.first{
	height:25px;
	background-position:-4px 0px;
	padding-top:22px;	
	margin:0px;
}

.nav li.last{
	height:100px;
	background:url("../img/cta_bg.png") no-repeat top center;
	width:320px;
	margin:0px;
	margin-top:3px;
	background-position:-4px -4px;
}

.nav li.last span{
	font-size:22px;
	width:320px;
	display:block;
	padding:0px;
	margin:0px;
	margin-left:-1px;
}

.nav li a{
	color:#fff;
	text-decoration:none;
    -webkit-tap-highlight-color: rgba(0,0,0,.5);
}

.footer span{
	display:block;
	width:94px;
	height:28px;
	position:relative;
	left:50%;
	margin-left:-50px;
}

.footer{
	width:320px;
	height:28px;
	margin-bottom:20px;
	margin-top:15px;
}

.footer span img{
	margin-right:2px;
	border:0px;
}

.footer span img a{
	border:0px;
}

.content{
	position:relative;
	width:310px;
	height:auto;
	display:inline-block;
	color:#fff;
	font-size:12px;
	font-family:helvetica;
	padding:5px;
	padding-bottom:20px;
}

h3{
	font-size:21px;
	margin-bottom:10px;
}

h4{
	font-size:16px;
	margin-bottom:4px;
	margin-top:10px;
}

.photoGrid{
	list-style:none;
	padding:0px;
	margin:0px;
}

.photoGrid li{
	float:left;
	margin-left:8px;
	margin-right:0px;
	margin-bottom:23px;
}

.photoGrid img{
	border:0px;
}

.podcastGrid{
	list-style:none;
	padding:0px;
	margin:0px;
}

.podcastGrid li{
	float:left;
	margin-left:8px;
	margin-right:15px;
	margin-bottom:23px;
	width:100%;
}

.podcastGrid img{
	border:0px;
	padding-left:10px;
}

.content ul{
	list-style:none;
}

.content ul li{
	padding:5px;
}

.content ul li a{
	color:#fff;
}

.ukForm{
	width:310px;
	position:absolute;
	padding:35px;
	padding-top:10px;
	margin-top:0px;
}
.ukForm input{
	display:block;
	width:75%;
	height:20px;
	margin-bottom:10px;
}

.ukForm textarea{
	display:block;
	width:75%;
	height:60px;
	margin-bottom:10px;
}

.ukForm .submitButton{
	width:75px;
}